* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  outline: solid red;
}
p {
  color: gray;
}
.--mobile {
  display: none;
}
nav a,
footer a {
  text-decoration: none;
}
nav a {
  color: black;
}
nav {
  height: 64px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
}
.nav__left {
  display: flex;
  align-items: center;
  height: 32px;
}
.nav__left .logo__right {
  color: gray;
}
#logo {
  height: 100%;
}
nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 0 16px;
}
.hero {
  background-color: lightgrey;
  padding: 32px 24px;
  display: flex;
}
.hero__left {
  width: 60%;
  margin-right: 24px;
}
.hero__left img {
  width: 100%;
}
.hero__right {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hero__right button {
  padding: 8px 0;
  background-color: #555;
  border: none;
  color: white;
}
.hero__right button:hover {
  cursor: pointer;
}
.practice {
  padding: 32px 0 16px;
  display: flex;
}
.practice__left {
  width: 60%;
  margin: 0 24px 0px;
  position: relative;
}
.practice__left img {
  width: 100%;
}
.practice__left h2 {
  margin: 32px 0 24px;
}
.practice__left__footer {
  position: absolute;
  bottom: 16px;
  color: black;
}
.practice__right {
  display: flex;
  flex-direction: column;
  position: relative;
  bottom: 16px;
}
.practice__right__item {
  display: flex;
  align-items: center;
}
.practice__right__item:hover {
  background-color: lightgrey;
  cursor: pointer;
}
.practice__right__item a {
  text-decoration: none;
}
.practice__right__item img {
  width: 35%;
  height: auto;
  padding: 16px;
}
.practice__right__item__text p {
  margin: 8px 0;
}
.learning {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px 72px;
}
.learning h2 {
  margin-bottom: 32px;
}
.learning__item__container {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}
.learning__item {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 26%;
  width: 33.33%;
}
.learning__item:hover {
  cursor: pointer;
}
.learning__item img {
  height: auto;
}
.learning h3 {
  padding: 16px 0 0 16px;
}
.learning__text {
  padding: 0 16px 24px;
}
.learning__margin__seperator {
  margin: 8px 0;
}
.thesis {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 32px;
}
.thesis h2 {
  margin: 32px 0;
}
.thesis h3 {
  margin-bottom: 12px;
}
.thesis__item__container {
  display: flex;
}
.thesis__left {
  width: 60%;
  margin: 0 24px;
}
.thesis__left video {
  width: 100%;
}
.thesis__left__text h3 {
  margin: 24px 0 8px;
}
.thesis__right {
  display: flex;
  flex-direction: column;
}
.thesis__right__item {
  display: flex;
  align-items: center;
}
.thesis__right__item:hover {
  background-color: lightgrey;
  cursor: pointer;
}
.thesis__right img {
  width: 35%;
  height: auto;
  margin: 16px;
}
footer {
  display: flex;
  justify-content: space-between;
  padding: 16px 24px;
}
footer ul {
  list-style: none;
  display: flex;
  gap: 16px;
}
footer a {
  color: gray;
}

@media only screen and (max-width: 540px) {
  .--desktop {
    display: none;
  }
  .--mobile {
    display: block;
  }
  nav {
    padding: 0;
  }
  .nav__right {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .nav__right ul {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
  }
  .hero {
    flex-direction: column;
    padding: 0;
  }
  .hero__left {
    width: 100%;
  }
  .hero__right {
    padding: 32px 16px;
  }
  .hero h3 {
    margin: 32px 0 24px;
  }
  .practice {
    margin-top: 16px;
    padding: 16px;
  }
  .practice__right {
    display: flex;
    gap: 64px;
  }

  .practice__right__item {
    flex-direction: column;
  }
  .practice__right__item img {
    width: 100%;
    padding: 0;
  }
  .practice__right__item__text {
    width: 100%;
    padding: 16px;
  }
  .learning {
    padding: 32px 16px;
  }
  .learning h2 {
    margin-bottom: 16px;
  }
  .learning h3 {
    margin: 16px 0 24px 16px;
  }
  .learning__item__container {
    flex-direction: column;
    width: 100%;
    flex-wrap: nowrap;
    gap: 8px;
  }
  .learning__item {
    width: 100%;
    background-color: rgb(216, 216, 216);
  }
  .thesis {
    padding-bottom: 24px;
  }
  .thesis h2 {
    margin-bottom: 16px;
  }
  .thesis__left {
    margin: 0;
    width: 100%;
  }
  footer {
    padding: 0 24px;
  }
  footer p {
    margin: 16px 0;
    color: black;
  }
}
