* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  outline: solid red;
}
nav {
  height: 64px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
}
.nav__left {
  display: flex;
  align-items: center;
  height: 32px;
}
.nav__left .logo__right {
  color: gray;
}
#logo {
  height: 100%;
}
nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 0 16px;
}
.hero {
  background-color: lightgrey;
  padding: 32px 24px;
  display: flex;
}
.hero__left {
  width: 60%;
  margin-right: 24px;
}
.hero__left img {
  width: 100%;
}
.hero__right {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hero__right button {
  padding: 8px 0;
  background-color: #555;
  color: white;
}
.practice {
  padding: 32px 0 16px;
  display: flex;
}
.practice__left {
  width: 60%;
  margin: 0 24px 0px;
  position: relative;
}
.practice__left img {
  width: 100%;
}
.practice__left h2 {
  margin: 32px 0 24px;
}
.practice__left__footer {
  position: absolute;
  bottom: 16px;
}
.practice__right {
  display: flex;
  flex-direction: column;
  position: relative;
  bottom: 16px;
}
.practice__right__item {
  display: flex;
  align-items: center;
}
.practice__right__item:hover {
  background-color: lightgrey;
}
.practice__right__item a {
  text-decoration: none;
}
.practice__right__item img {
  width: 35%;
  height: auto;
  padding: 16px;
}
.practice__right__item__text p {
  margin: 8px 0;
}
